@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --tomato: hsl(4, 100%, 67%);
  --slate: hsl(234, 29%, 20%);
  --charcoal: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
}

* {
  outline: solid 1px red;
}

body {
  font-family: "Roboto", arial, helvetica, sans-serif;
  background-color: var(--charcoal);
}

.container {
  background-color: white;
  border-radius: 20px;
  width: 40%;
  height: 300px;
  padding: 20px;
  display: grid;
}

ul {
  padding-left: 21px;
}

li::marker {
  content: url("assets/images/icon-list.svg");
}

li {
  padding-left: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.hide {
  display: none;
}
